TP XML/TP01/exo6/agenda.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT agenda (personne+)>
<!ELEMENT personne (nom,prenom,adresse,tel)>
<!ELEMENT adresse (rue,code_postal,ville)>
<!ELEMENT nom (#PCDATA)> 
<!ELEMENT prenom (#PCDATA)>  
<!ELEMENT tel (#PCDATA)> 
<!ELEMENT rue (#PCDATA)> 
<!ELEMENT code_postal (#PCDATA)> 
<!ELEMENT ville (#PCDATA)> 