TP XML/TP01/exo5/annuaire.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT agenda (personne)+>
<!ELEMENT personne (nom,prenom,adresse,telephone)+ >
<!ELEMENT nom (#PCDATA) >
<!ELEMENT prenom (#PCDATA) >
<!ELEMENT adresse (rue,code_postal,ville) >
<!ELEMENT rue (#PCDATA) >
<!ELEMENT code_postal (#PCDATA) >
<!ELEMENT ville (#PCDATA) >
<!ELEMENT telephone (#PCDATA) >